*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card {
    background-color: black;
}
.card h1{
    color: white;
}
p{
    color: aqua;
    text-decoration: underline dotted aqua;
}