*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
thead{
    
    background-color: blue;
    color: white;
}
tbody tr:nth-child(odd){
    background-color: grey;
}
.card td{
    width: 70px;
    text-align: center;
}
.card th{
    width: 70px;
}
.green{
    color: white;
    background-color: green;
    border-radius: 3px;
}
.yellow{
    background-color: yellow;
    border-radius: 3px;
}
.Red{
    color: white;
    background-color: red;
    border-radius: 3px;
}
