* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #cecece;
}

.contaiter div {
  top: 10px;
  background-color: white;
}

h3 {
  color: red;
  font-weight: 700;
  font-size: 25px;
}

.box-1 {
  border: 2px solid grey;
  border-radius: 8px;
  position: fixed;
  left: 0;
  height: 160px;
  width: 250px;
  text-align: center;
  padding: 20px;
  left: 10px;
}

.box-2 {
  border: 2px solid grey;
  border-radius: 8px;
  position: fixed;
  left: 0;
  height: 160px;
  width: 250px;
  text-align: center;
  padding: 20px;
  left: 320px;

}

.box-3 {
  border: 2px solid grey;
  border-radius: 8px;
  position: fixed;
  right: 0;
  height: 160px;
  width: 250px;
  text-align: center;
  padding: 20px;
  right: 320px;
}
.box-4 {
  border: 2px solid grey;
  border-radius: 8px;
  position: fixed;
  right: 0;
  height: 160px;
  width: 250px;
  text-align: center;
  padding: 20px;
  right: 10px;
}