* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    position: relative;
    width: 300px;
    height: 500px;
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    transition: all 0.5s linear;
    box-shadow: 
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-img {
    position: relative;
    width: 100%;
}

.card-img img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.sale {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(245, 85, 46);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}

.card-title {
    font-weight: bold;
    margin: 15px 0 10px 0;
}

.card-cost {
    color: rgb(255, 116, 46);
    font-weight: 600;
    margin-bottom: 15px;
}

.card-button {
    width: 100%;
    height: 40px;
    background-color: rgb(47, 111, 255);
    color: rgb(246, 253, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card:hover {
    transform:translateY(20deg)
}
