*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    display: flex;
    gap: 10px;
    margin: 12px 24px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
  } 
  .header {
    width: 100%;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: red;
  }

  .footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: blue;
  }
  .sidebar1 {
    padding: 20px;
    height: 300px;
    background-color: green;
    flex: 1;
    max-width: 25%;
  }

  .sidebar2 {
    padding: 20px;
    height: 300px;
    background-color: pink;
    flex: 1;
    max-width: 25%;
  }

  .content {
    padding: 20px;
    height: 300px;
    background-color: yellow;
    flex: 2;
    max-width: 60%;
  }
  @media (max-width: 1024px) {
    .container {
      flex-direction: column;
    }

    .sidebar1, .sidebar2, .content {
      max-width: 100%;
    }

    .sidebar2 {
      order: 3; 
    }
  }