    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: Arial, sans-serif;
      padding: 10px;
      background-color: #f4f4f4;
    }

    .container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    .box{
        
      text-align: center;
      padding: 20px;
      font-size: 18px;
      border-radius: 5px;
    }
    
    .box1, .box2,  .box3, .box4,  .box5, .box6,  .box7, .box8 { 
        
        background-color: rgb(230, 173, 196); 
    }
    .box1, .box8 {
        height: 80px;
      flex: 1 1 100%; 
    }
    .box2, .box3, .box4, .box5 {
        height: 60px;
        flex: 1 1 calc(25% - 10px);
      }
      .box6, .box7 {
        height: 100px;
        flex: 1 1  calc(50% - 10px);
      }@media (max-width: 767px) {
        .box {
          flex: 1 1 100%; 
        }
      }
    @media (min-width: 768px) and (max-width: 1199px) {
      .box {
        flex: 1 1 33,33%
      }
    }

    
    
    @media  (min-width: 1200px) {
        box {
            flex: 1 1 25%
          }
    }