
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            padding: 20px;
        }
        .container {
            max-width: 1400px;
            margin: 0 auto;
        }
        .header, .content, .signup, .feature {
            padding: 30px;
            text-align: center;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .header {
            background-color: #87ceeb;
            color: #333;
        }
        .content {
            background-color: #d3d3d3;
            color: #333;
        }
        .signup {
            background-color: #87ceeb;
            color: #333;
        }
        .feature {
            color: white;
        }

        .feature-orange {
            background-color: #ff8c00;
        }

        .feature-red {
            background-color: #dc3545;
        }

        .feature-purple {
            background-color: #dda0dd;
            color: #333;
        }
        .header, .content, .signup, .feature {
            width: 100%;
            display: block;
        }

        .features-wrapper {
            display: block;
        }

        .content-desktop {
            display: none;
        }
        .signup-desktop {
            display: none;
        }
        .feature-in-wrapper {
            display: none;
        }

        @media (min-width: 768px) and (max-width: 1199px) {
            .header, .content {
                width: 100%;
                display: block;
            }
            .signup-feature-wrapper {
                font-size: 0;
            }

            .signup {
                width: calc(50% - 5px);
                display: inline-block;
                vertical-align: top;
                margin-right: 10px;
                font-size: 16px;
            }

            .feature-in-signup {
                width: calc(50% - 5px);
                display: inline-block;
                vertical-align: top;
                font-size: 16px;
            }

            .feature-in-wrapper {
                display: none;
            }
            .features-wrapper {
                font-size: 0;
            }

            .feature-red {
                width: calc(50% - 5px);
                display: inline-block;
                vertical-align: top;
                margin-right: 10px;
                font-size: 16px;
            }

            .feature-purple {
                width: calc(50% - 5px);
                display: inline-block;
                vertical-align: top;
                font-size: 16px;
            }
        }
        @media (min-width: 1200px) {
            .header {
                width: 100%;
                display: block;
            }
            .content-mobile-tablet {
                display: none;
            }

            .signup-feature-wrapper {
                display: none;
            }

            .feature-in-signup {
                display: none;
            }

            .feature-in-wrapper {
                display: inline-block;
            }

            .features-wrapper {
                font-size: 0;
            }

            .feature-in-wrapper, .feature-purple, .feature-red {
                width: calc(33.33% - 7px);
                display: inline-block;
                vertical-align: top;
                margin-right: 10px;
                font-size: 16px;
            }

            .feature-red {
                margin-right: 0;
            }

            .signup-desktop, .content-desktop {
                width: 100%;
                display: block;
            }
        }