*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card{
    height: 430px;
    width: 620px;
    margin: auto;
    background-color: rgb(238, 244, 246);
    border: none;
    border-radius: 3px;
}
#profile-card {
    width: 300px;
    height: 350px;  
     margin: auto;
    background-color: rgb(217, 234, 242);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
   
}
#profile-card:hover{
    background-color: rgb(190, 226, 244);
   
}   
td +td {
    padding: 10px;
}
.bio{
    color: black;
}
img{
width: 200px;
height: 200px;
border-radius: 50%;
}
