*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#card-container {
    max-width: 600px;
    padding: 20px;
    margin: auto;
}

.products {
    list-style: none;
    padding: 0;
    margin: 0;
}
.card {
    background-color: #819d9bc9;
    padding: 16px;
    border-radius: 10px;
    transition: 0.3s;
}
.card + .card {
    margin-top: 16px;
}
.card[data-sale="true"] {
    background-color: #ffe6e6;
    
}
.card:hover {
    background-color: #df1f1f;
}
