*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#register-form{
    width: 300px;
    height: 230px;
    margin: auto;
    background-color: rgb(238, 244, 246);
    
}
input{
    width: 300px;
    height: 30px;
    border: 2px solid rgb(140, 191, 217);
    border-radius: 5px;

}
input:hover{
    border: 2px solid red;
}
input:focus{
    border: 2px solid rgb(85, 0, 255);
    outline: none;
    background-color: rgb(231, 226, 220);
}
.submit-btn{
    width: 100px;
    height: 30px;
    color: white;
    background-color: rgb(38, 157, 217);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
