*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 60px;
    background-color: rgb(229, 229, 229);
    display: flex;
    gap: 30px 18px;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
}
.header-logo{
font-family: "Playwrite NO", cursive;

}
.menu{
    display: flex;
    gap: 20px;
    color: rgb(159, 159, 159);
    list-style: none;
}
.menu li a {
    color: rgb(159, 159, 159);
    text-decoration: none;
    transition: 0.3s ease;
}
.menu li a:hover{
    color: rgb(79, 79, 79);
    cursor: pointer;
}
.search-container{
    background-color: rgb(141, 147, 158);
    color: white;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}
.search-container .icon{
    margin-right: 5px;
}
