*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    width: 100%;
    height: calc(100/4 - 10px);
    background-color: rgb(249, 250, 252);
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
}
section{
    display: flex;
    flex-direction: column;
    flex-grow:1 ;
    width: 100% ;
    gap: 20px;
}
img{
    width:100%;
    height: calc(100/4*3 - 10px);
    object-fit: cover;
    border: 1px solid;
    border-radius: 4px;
}
div{
    width: 100%;
    text-align: center;
    background-color: rgb(235, 238, 243);
font-size: 40px;
  background: -webkit-linear-gradient( #333, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
