* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
}

.container {
  background-color: rgb(249, 250, 252);
  display: flex;
  flex-direction: column;
  
  padding: 20px;
  width: 600px;
  margin: 0 auto;
}

.image-section {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.image-section img {
  border: none;
  border-radius: 3px;
  width: 100%;
  height: 500px;
}

.category {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
}

.text-section {
  margin-top: 20px;
  text-align: left;
  width: 100%;
}

.text-section h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.text-section p {
  margin-top: 20px;
  word-wrap: break-word;
}
.container-img {
  display: flex;
  text-align: left;
  align-items: center;
 
  gap: 10px;
}
.container-img img {
  object-fit: cover;
  height: 50px;
  margin-right: 8px;
  border-radius: 50%;
 
}
.date{
  color: rgb(195, 196, 198);
}
.text{
  color: rgb(195, 196, 198);
}
.title{
  font-size: 25px;
}