body {
    font-family: Arial, sans-serif;
    background-color: rgb(245, 230, 208);
    margin: 0;
    padding: 0;
}
.menu {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
.text {
    max-width: 50%;
}

.text h1 {
    font-size: 20px;
    margin: 20px 0;
    font-size: 32px;
    color: black;
}

.text h1 span {
    margin: 20px 0;
    font-weight: bold;
}

.text p {
    font-size: 20px;
    margin: 20px 0;
    color: #555;
}
button {
    background-color: rgb(255, 100, 100);
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-left: 10px solid white;
    border-bottom: 10px solid white;
}
