
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: stretch;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.card {
  width: 45%; 
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: left;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.card h2 {
  font-size: 20px;
  color: #333;
}

.card p {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}

.btn {
 
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background-color: #0056b3;
}

.divider {
  width: 2px;
  background-color: #ddd;
  height: auto;
}