        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .container {
            text-align: center;
        }
        .card {
            display: inline-block;
            width: 250px;
            margin: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            text-align: left;
        }
        .card img {
            width: 100%;
            height: 150px;
            
            border-radius: 5px;
        }
        .btn {
            display: inline-block;
            margin-top: 10px;
            padding: 5px 10px;
            border: 1px solid red;
            color: red;
            text-decoration: none;
        }
    