* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #2b2b2b;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar-wrap {
    width: 820px;
    background: #333;
    padding: 20px;
    border-radius: 12px;
}
.search {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 28px;
    padding: 10px 16px;
    gap: 12px;
}
.icon-left img {
    width: 20px;
    height: 20px;
}
input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
}

input::placeholder {
    color: #9aa0a6;
}
.right-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.circle-btn img {
    width: 24px;
    height: 24px;
}
