* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.feedback-box {
    width: 465px;
    height: 436px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    position: relative;
}
.close-btn {
    position: absolute;
    right: 16px;
    top: 12px;
    font-size: 26px;
    cursor: pointer;
}

.preview-box {
    width: 100%;
    height: 150px;
    background: #e5e5e5;
    border-radius: 12px;
    margin-top: 35px;
}
h2 {
    text-align: center;
    margin-top: 25px;
    font-size: 24px;
}
.sub {
    text-align: center;
    color: #777;
    margin-top: 4px;
}
.input-box {
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}
.submit-btn {
    width: 100%;
    padding: 14px;
    margin-top: 16px;
    background: #4a4a4a;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
